.image-picker {
    margin: 20px 0;
  
    .preview-image {
      margin-top: 20px;
      max-width: 100%;
      height: auto;
    }
  }

  .tag {
    background-color: #e0e0e0; /* Light grey background */
    padding: 5px;
    margin-right: 5px;
    border-radius: 4px;
  }